<div class="grid grid-cols-12">

    <div class="col-span-12">
        <div class="h-full flex flex-wrap">
            <div class="flex-auto">
                <div class="w-full h-full flex flex-col justify-center items-center mt-4">
                    <h2 class="mat-display-2 m-0">MATÍAS</h2>
                    <h2 class="mat-display-2 m-0"><strong>HERMOSILLA</strong></h2>
                    <h3 class="mat-h2">Estudiante egresado de Ingeniería Civil Informática</h3>
                    <h3 class="mat-h3"><i>"Proactivo, persistente y crítico."</i></h3>
                </div>
            </div>
            <div class="flex-auto">
                <div class="w-full h-full flex flex-col justify-center items-end">
                    <p class="flex items-center">
                        <a class="mat-body flex-initial" href="tel:+56954235123">+56 9 542 351 23</a>&nbsp;
                        <mat-icon>call</mat-icon>
                    </p>
                    <p class="flex items-center">
                        <span class="mat-body flex-initial">Temuco, Región de La Araucanía, Chile</span>&nbsp;
                        <mat-icon>place</mat-icon>
                    </p>
                    <p class="flex items-center">
                        <a class="mat-body flex-initial"
                            href="mailto:matiasahermosilla@gmail.com">matiasahermosilla@gmail.com</a>&nbsp;
                        <mat-icon>email</mat-icon>
                    </p>
                    <p class="flex items-center">
                        <a class="mat-body flex-initial" href="https://www.linkedin.com/in/matiasah/">LinkedIn</a>&nbsp;
                        <mat-icon>web</mat-icon>
                    </p>
                    <p class="flex items-center">
                        <a class="mat-body flex-initial"
                            href="https://profile.codersrank.io/user/matiasah">CodersRank</a>&nbsp;
                        <mat-icon>web</mat-icon>
                    </p>
                    <p class="flex items-center">
                        <a class="mat-body flex-initial" href="https://github.com/matiasah">GitHub</a>&nbsp;
                        <mat-icon>web</mat-icon>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="py-2">
    <mat-divider></mat-divider>
</div>

<div class="w-full">
    <h2 class="mat-h2">RESUMEN</h2>
    <p class="mt-2 text-justify">
        Estudiante egresado de Ingeniería Civíl Informática en Universidad de La Frontera. He participado en proyectos
        de desarrollo de software, de forma remota en paralelo a mis estudios. Busco especializarme como Desarrollador
        Full Stack, Arquitecto de software, Arquitecto de soluciones cloud y Desarrollador de microservicios. De los
        frameworks de desarrollo web que más he utilizado se encuentran Angular y Spring Framework, debido que éstos
        presentan múltiples artefactos, componentes y características que permiten construir productos altamente
        funcionales.
    </p>
</div>

<div class="py-2">
    <mat-divider></mat-divider>
</div>

<div class="w-full">
    <h2 class="mat-h2">HABILIDADES</h2>
    <div class="grid grid-cols-2 gap-4">
        <div class="col-span-2 md:col-span-1">
            <ul class="list-disc list-inside">
                <li>Nociones de Ingeniería de Requerimientos (SRS IEEE 830).</li>
                <li>Nociones de Arquitectura de Software.</li>
                <li>Desarrollo de software web.</li>
                <li>Desarrollo de pruebas unitarias JUnit y Karma.</li>
                <li>Inglés avanzado.</li>
                <li>Francés básico.</li>
            </ul>
        </div>
        <div class="col-span-2 md:col-span-1">
            <p class="text-justify">
                <b>Software:</b>
                Visual Studio Code, JIRA, <u>Google Cloud</u> (Functions, Firebase, Storage, Build),
                <u>Amazon Web Services</u> (EC2, Elastic Beanstalk, RDS, KMS, ACM, CloudFront, S3, Route
                53), <u>Jasmine</u>, <u>Karma</u>, <u>JUnit 5</u>, Hibernate, Debian, CentOS,
                <u>Docker</u> (Engine y Compose), MySQL/MariaDB, MongoDB, GIT (GitHub, GitLab + CI/CD),
                Redis, Hashicorp Vault, Hashicorp Consul, Apache ActiveMQ Artemis, QueryDSL, Swagger,
                GitLab CI/CD, Travis CI.
            </p>
            <p class="text-justify">
                <b>Frameworks:</b>
                <u>Angular</u>, <u>Spring Framework</u> (Spring Boot, MVC/REST, WebFlux, Data JPA/REST,
                JMS, Security/OAuth2 y Cloud/Microservicios) y Laravel.
            </p>
            <p class="text-justify">
                <b>Lenguajes de programación:</b> Java, TypeScript, JavaScript, Lua(JIT), HTML y CSS.
            </p>
            <p class="text-justify">
                <b>Metodología:</b>
                Kanban
            </p>
        </div>
    </div>
</div>

<div class="py-2">
    <mat-divider></mat-divider>
</div>

<div class="w-full">
    <h2 class="mat-h2">EDUCACIÓN</h2>

    <div class="w-full grid grid-cols-12 gap-4 mt-2 mb-2">
        <div class="col-span-4 sm:col-span-3 text-right">
            <div class="m-0">2015 - ene. 2021/mar. 2021</div>
            <div class="m-0">Temuco, Chile</div>
        </div>
        <div class="col-span-8 sm:col-span-9 text-left">
            <div class="m-0">
                <b>Ingeniero Civil Informático</b>&nbsp;
                <i>(EN PROCESO)</i>
            </div>
            <div class="m-0">
                <i>Universidad de La Frontera</i>
            </div>
        </div>
    </div>

    <div class="w-full grid grid-cols-12 gap-4 mt-2 mb-2">
        <div class="col-span-4 sm:col-span-3 text-right">
            <div class="m-0">2003 - 2014</div>
            <div class="m-0">Temuco, Chile</div>
        </div>
        <div class="col-span-8 sm:col-span-9 text-left">
            <div class="m-0">
                <b>Educación básica y media</b>&nbsp;
            </div>
            <div class="m-0">
                <i>Colegio Inglés George Chaytor</i>
            </div>
        </div>
    </div>

</div>

<div class="py-2" style="page-break-before: always">
    <mat-divider></mat-divider>
</div>

<div class="w-full">
    <h2 class="mat-h2">EXPERIENCIA LABORAL</h2>

    <div class="w-full grid grid-cols-12 gap-4 mt-2 mb-2">
        <div class="col-span-4 sm:col-span-3 text-right">
            <div class="m-0">ago. 2020 - dic. 2020</div>
            <div class="m-0">(4 meses)</div>
            <div class="m-0">Remoto</div>
        </div>
        <div class="col-span-8 sm:col-span-9 text-left">
            <div class="m-0">
                <a href="https://www.smartaraucania.org" target="_blank">
                    <b>SMART ARAUCANÍA</b>
                </a>
            </div>
            <div class="m-0"><i>Práctica: Desarrollador Full Stack</i></div>
            <ul class="list-disc list-inside">
                <li>
                    Diseño y arquitectura de la plataforma para gestión de incidencias ciudadanas
                    <a href="https://enlace-ciudadano.smartaraucania.org/" target="_blank">
                        Enlace Ciudadano
                    </a>.
                </li>
                <li>
                    Desarrollo frontend con Angular 9/10 y Amazon Web Services (ACM, CloudFront,
                    Route 53, S3).
                </li>
                <li>
                    Desarrollo de microservicios con Spring Framework (Spring Cloud), Amazon Web
                    Services (EC2, Elastic Beanstalk, RDS, KMS, ACM, S3, Route 53).
                </li>
                <li>
                    Uso de software de soporte de microservicios; Hashicorp Vault, Hashicorp Consul
                    y Apache ActiveMQ Artemis.
                </li>
            </ul>
        </div>
    </div>

    <div class="w-full grid grid-cols-12 gap-4 mt-2 mb-2">
        <div class="col-span-4 sm:col-span-3 text-right">
            <div class="m-0">mayo 2020 - jun. 2020</div>
            <div class="m-0">(2 meses)</div>
            <div class="m-0">Remoto</div>
        </div>
        <div class="col-span-8 sm:col-span-9 text-left">
            <div class="m-0">
                <b>RUYDO LABS SPA.</b>
            </div>
            <div class="m-0"><i>Práctica: Desarrollador Full Stack</i></div>
            <ul class="list-disc list-inside">
                <li>
                    Construcción de una red social para podcasts.
                </li>
                <li>
                    Desarrollador Full Stack Angular 8/9 y Node.js (Google Cloud y Firebase)
                </li>
            </ul>
        </div>
    </div>

    <div class="w-full grid grid-cols-12 gap-4 mt-2 mb-2">
        <div class="col-span-4 sm:col-span-3 text-right">
            <div class="m-0">ene. 2019 - feb. 2019</div>
            <div class="m-0">(1 mes)</div>
            <div class="m-0">Temuco, Chile</div>
        </div>
        <div class="col-span-8 sm:col-span-9 text-left">
            <div class="m-0">
                <b>BIOSOFT</b>
            </div>
            <div class="m-0">
                <i>Práctica: Ingeniería de requerimientos y desarrollo de software.</i>
            </div>
            <ul class="list-disc list-inside">
                <li>
                    Creación de una especificación de requisitos de software (ERS).
                </li>
                <li>
                    Desarrollo de un módulo para gestión de recursos materiales del software "Geonodo".
                </li>
                <li>
                    Desarrollador backend Laravel.
                </li>
            </ul>
        </div>
    </div>

    <div class="w-full grid grid-cols-12 gap-4 mt-2 mb-2">
        <div class="col-span-4 sm:col-span-3 text-right">
            <div class="m-0">ene. 2018 - dic. 2018</div>
            <div class="m-0">(12 meses)</div>
            <div class="m-0">Temuco, Chile</div>
        </div>
        <div class="col-span-8 sm:col-span-9 text-left">
            <div class="m-0">
                <b>GIMNASIO TRINIDAD ZUÑIGA EIRL.</b>
            </div>
            <div class="m-0">
                <i>Práctica: Desarrollador Full Stack.</i>
            </div>
            <ul class="list-disc list-inside">
                <li>
                    Diseño e implementación de un sistema de información tipo CRM con soporte de pagos en línea.
                </li>
                <li>
                    Desarrollador Full Stack Angular 4 y Laravel 5.6.
                </li>
            </ul>
        </div>
    </div>

</div>

<div class="py-2">
    <mat-divider></mat-divider>
</div>

<div class="w-full">
    <h2 class="mat-h2">ACTIVIDADES DE FORMACIÓN UNIVERSITARIAS</h2>

    <div class="w-full grid grid-cols-12 gap-4 mt-2">
        <div class="col-span-4 sm:col-span-3 text-right">
            <div class="m-0">nov. 2019</div>
            <div class="m-0">(1 mes)</div>
            <div class="m-0">Temuco, Chile</div>
        </div>
        <div class="col-span-8 sm:col-span-9 text-left">
            <div class="m-0"><b>UNIVERSIDAD DE LA FRONTERA</b></div>
            <div class="m-0">
                <i>Proyecto de asignatura:
                    <a href="https://github.com/matiasah/login-ufro" target="_blank">Login UFRO</a>
                </i>
            </div>
            <ul class="list-disc list-inside">
                <li>
                    Desarrollo de protipo para autentificación con estándar OAuth 2.0 para sistemas de Universidad de La Frontera.
                </li>
                <li>
                    Desarrollor Full Stack Angular 9 y Spring Framework.
                </li>
            </ul>
        </div>
    </div>

    <div class="w-full grid grid-cols-12 gap-4 mt-2">
        <div class="col-span-4 sm:col-span-3 text-right">
            <div class="m-0">abril 2019 - jul. 2019</div>
            <div class="m-0">(4 meses)</div>
            <div class="m-0">Temuco, Chile</div>
        </div>
        <div class="col-span-8 sm:col-span-9 text-left">
            <div class="m-0"><b>UNIVERSIDAD DE LA FRONTERA</b></div>
            <div class="m-0">
                <i>Proyecto de asignatura:
                    <a href="https://github.com/matiasah/trackthor" target="_blank">Trackthor</a>
                </i>
            </div>
            <ul class="list-disc list-inside">
                <li>
                    Desarrollo de aplicación para gestión de maquinaria.
                </li>
                <li>
                    Desarrollor Full Stack Angular 7 y Spring Framework.
                </li>
            </ul>
        </div>
    </div>

    <div class="w-full grid grid-cols-12 gap-4 mt-2">
        <div class="col-span-4 sm:col-span-3 text-right">
            <div class="m-0">oct 2018 - dic. 2018</div>
            <div class="m-0">(4 meses)</div>
            <div class="m-0">Temuco, Chile</div>
        </div>
        <div class="col-span-8 sm:col-span-9 text-left">
            <div class="m-0"><b>UNIVERSIDAD DE LA FRONTERA</b></div>
            <div class="m-0">
                <i>Proyecto de asignatura:</i>&nbsp;<span>RIOSALCO</span>
            </div>
            <ul class="list-disc list-inside">
                <li>
                    Desarrollo de aplicación para postulación de clientes a proyectos de vivienda social.
                </li>
                <li>
                    Desarrollor Full Stack con Angular 6 y Spring Framework.
                </li>
            </ul>
        </div>
    </div>

    <div class="w-full grid grid-cols-12 gap-4 mt-2">
        <div class="col-span-4 sm:col-span-3 text-right">
            <div class="m-0">ago. 2018 - jul. 2019</div>
            <div class="m-0">Temuco, Chile</div>
        </div>
        <div class="col-span-8 sm:col-span-9 text-left">
            <div class="m-0"><b>UNIVERSIDAD DE LA FRONTERA</b></div>
            <div class="m-0"><i>Ayudante de programación</i></div>
            <ul class="list-disc list-inside">
                <li>
                    Programación de Computadores: Primera asignatura de programación para las
                    Ingenierías Civiles en Universidad de La Frontera.
                </li>
                <li>
                    Laboratorio de Programación I: Asignatura de nivelación para programación en
                    Java, desarrollo de aplicaciones de escritorio con Swing.
                </li>
                <li>
                    Laboratorio de Programación II: Continuación de Lab I, desarrollo de
                    aplicaciones backend con Spring Boot y Thymeleaf.
                </li>
            </ul>
        </div>
    </div>

    <div class="w-full grid grid-cols-12 gap-4 mt-2">
        <div class="col-span-4 sm:col-span-3 text-right">
            <div class="m-0">abril 2017 - jul. 2017</div>
            <div class="m-0">(4 meses)</div>
            <div class="m-0">Temuco, Chile</div>
        </div>
        <div class="col-span-8 sm:col-span-9 text-left">
            <div class="m-0"><b>UNIVERSIDAD DE LA FRONTERA</b></div>
            <div class="m-0">
                <i>Proyecto de asignatura:</i>&nbsp;<span>Sin nombre</span>
            </div>
            <ul class="list-disc list-inside">
                <li>
                    Desarrollo de aplicación para gestión de propiedades en conservador de bienes raíces.
                </li>
                <li>
                    Desarrollor Backend Spring Framework.
                </li>
                <li>
                    <b>Primera experiencia utilizando Java con el stack de Spring</b>
                </li>
            </ul>
        </div>
    </div>

</div>

<div class="py-2" style="page-break-before: always">
    <mat-divider></mat-divider>
</div>

<div class="w-full">
    <h2 class="mat-h2">TECNOLOGÍAS PRINCIPALES</h2>

    <div class="w-full grid grid-cols-3 md:grid-cols-4 lg:grid-cols-6 mt-2 gap-4 px-6 pb-4">

        <mat-card class="col-span-1 flex flex-col justify-between mat-elevation-z2" tabindex="-1">
            <mat-card-header>
                <mat-card-title>Angular</mat-card-title>
                <mat-card-subtitle>Framework Frontend</mat-card-subtitle>
            </mat-card-header>
            <img mat-card-image class="mx-0" src="assets/img/angular.svg" />
            <mat-card-content>
                <p class="text-center mt-2">
                    Framework para desarrollo de aplicaciones web frontend reactivas y altamente
                    funcionales.
                </p>
            </mat-card-content>
        </mat-card>

        <mat-card class="col-span-1 flex flex-col justify-between mat-elevation-z2" tabindex="-1">
            <mat-card-header>
                <mat-card-title>Spring Framework</mat-card-title>
                <mat-card-subtitle>Framework Backend</mat-card-subtitle>
            </mat-card-header>
            <img mat-card-image class="mx-0" src="assets/img/spring.svg" />
            <mat-card-content>
                <p class="text-center mt-2">
                    Framework para desarrollo de aplicaciones web backend en Java altamente escalables.
                </p>
            </mat-card-content>
        </mat-card>

        <mat-card class="col-span-1 flex flex-col justify-between mat-elevation-z2" tabindex="-1">
            <mat-card-header>
                <mat-card-title>Docker</mat-card-title>
                <mat-card-subtitle>Herramienta</mat-card-subtitle>
            </mat-card-header>
            <img mat-card-image class="mx-0" src="assets/img/docker.png" />
            <mat-card-content>
                <p class="text-center mt-2">
                    Herramienta para despliegue de aplicaciones dentro de contenedores de Linux.
                </p>
            </mat-card-content>
        </mat-card>

        <mat-card class="col-span-1 flex flex-col justify-between mat-elevation-z2" tabindex="-1">
            <mat-card-header>
                <mat-card-title>Amazon Web Services</mat-card-title>
                <mat-card-subtitle>Plataforma cloud</mat-card-subtitle>
            </mat-card-header>
            <img mat-card-image class="mx-0" src="assets/img/aws.png" />
            <mat-card-content>
                <p class="text-center mt-2">
                    Plataforma de servicios de computación en la nube de Amazon.
                </p>
            </mat-card-content>
        </mat-card>

        <mat-card class="col-span-1 flex flex-col justify-between mat-elevation-z2" tabindex="-1">
            <mat-card-header>
                <mat-card-title>Google Cloud Platform</mat-card-title>
                <mat-card-subtitle>Plataforma cloud</mat-card-subtitle>
            </mat-card-header>
            <img mat-card-image class="mx-0" src="assets/img/google-cloud.png" />
            <mat-card-content>
                <p class="text-center mt-2">
                    Plataforma de servicios de computación en la nube de Google.
                </p>
            </mat-card-content>
        </mat-card>

        <mat-card class="col-span-1 flex flex-col justify-between mat-elevation-z2" tabindex="-1">
            <mat-card-header>
                <mat-card-title>Hashicorp Vault</mat-card-title>
                <mat-card-subtitle>Herramienta</mat-card-subtitle>
            </mat-card-header>
            <img mat-card-image class="mx-0" src="assets/img/vault.svg" />
            <mat-card-content>
                <p class="text-center mt-2">
                    Herramienta de software para asegurar configuraciones y generar credenciales de
                    bases de datos y servicios.
                </p>
            </mat-card-content>
        </mat-card>

    </div>
</div>