<div class="container">

    <div class="row">
        <div class="col-12">
            <mat-card class="mt-2 mb-2 mat-elevation-z2">
                <mat-card-content>
                    <div class="row">
                        <div class="col-12 col-sm-3">
                            <div class="w-100">
                                <div class="m-2">
                                    <div class="w-100 d-flex justify-content-center align-items-center">
                                        <img class="w-100 mat-elevation-z1" style="border-radius: 100%" src="assets/img/matias.jpg" alt="Foto de currículum" />
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-sm-9">
                            <div class="row h-100">
                                <div class="col d-flex flex-column justify-content-center align-items-center align-items-sm-start">
                                    <h2 class="mat-display-2 m-0">MATÍAS</h2>
                                    <h2 class="mat-display-2 m-0"><strong>HERMOSILLA</strong></h2>
                                    <h3 class="mat-h3 mt-2"><i>"Proactivo, persistente y ético."</i></h3>
                                </div>
                                <div class="col d-flex flex-column justify-content-center align-items-center align-items-sm-end">
                                    <p class="d-flex justify-content-center">
                                        <a class="mat-body" href="tel:+56954235123">+56 9 542 351 23</a>&nbsp;
                                        <mat-icon>call</mat-icon>
                                    </p>
                                    <p class="d-flex justify-content-center">
                                        <span>Temuco, Región de La Araucanía, Chile</span>&nbsp;
                                        <mat-icon>place</mat-icon>
                                    </p>
                                    <p class="d-flex justify-content-center">
                                        <a class="mat-body" href="mailto:matiasahermosilla@gmail.com">matiasahermosilla@gmail.com</a>&nbsp;
                                        <mat-icon>email</mat-icon>
                                    </p>
                                    <p class="d-flex justify-content-center">
                                        <a class="mat-body" href="https://www.linkedin.com/in/matiasah/">https://www.linkedin.com/in/matiasah/</a>&nbsp;
                                        <mat-icon>web</mat-icon>
                                    </p>
                                    <p class="d-flex justify-content-center">
                                        <a class="mat-body" href="https://profile.codersrank.io/user/matiasah">CodersRank</a>&nbsp;
                                        <mat-icon>web</mat-icon>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </mat-card-content>
            </mat-card>
        </div>
    </div>

    <div class="row">
        <div class="col-12">
            <mat-card class="mb-2 mat-elevation-z2">
                <mat-card-title>
                    HABILIDADES
                </mat-card-title>
                <mat-card-content>
                    <div class="row">
                        <div class="col-12 col-sm-6">
                            <ul>
                                <li>Nociones de Ingeniería de Requerimientos (SRS IEEE 830).</li>
                                <li>Nociones de Arquitectura de Software.</li>
                                <li>Desarrollo de pruebas unitarias.</li>
                                <li>Inglés avanzado.</li>
                            </ul>
                        </div>
                        <div class="col-12 col-sm-6">
                            <p class="text-justify">
                                <b>Software:</b>
                                JIRA, <u>Angular</u>, <u>Spring Framework</u> (Spring Boot, MVC/REST, Data JPA/REST, Security/OAuth2 y Cloud/Microservicios),
                                <u>Google Cloud</u> (Functions, Firebase, Storage, Build), <u>Jasmine</u>, <u>Karma</u>, <u>JUnit 5</u>, Hibernate,
                                Laravel, Debian, CentOS, <u>Docker</u>, MySQL, MongoDB, GIT, Python, Java, JavaScript, TypeScript, Lua(JIT), HTML y CSS.
                            </p>
                        </div>
                    </div>
                </mat-card-content>
            </mat-card>
        </div>
    </div>

    <div class="row">
        <div class="col-12">
            <mat-card class="mb-2 mat-elevation-z2">
                <mat-card-title>
                    EDUCACIÓN
                </mat-card-title>
                <mat-card-content>
                    <div class="row mt-3">
                        <div class="col-4 col-sm-3 text-right">
                            <p class="m-0">mar. 2015 - ene. 2021</p>
                            <p class="m-0">Temuco, Chile</p>
                        </div>
                        <div class="col-8 col-sm-9 text-left">
                            <p class="m-0">
                                <b>INGENIERO CIVIL INFORMÁTICO</b>&nbsp;
                                <i>(EN PROGRESO)</i>
                            </p>
                            <p class="m-0">
                                <i>Universidad de La Frontera</i>
                            </p>
                        </div>
                    </div>
                </mat-card-content>
            </mat-card>
        </div>
    </div>

    <div class="row">
        <div class="col-12">
            <mat-card class="mb-2 mat-elevation-z2">
                <mat-card-title>
                    EXPERIENCIA
                </mat-card-title>
                <mat-card-content>

                    <div class="row mt-3">
                        <div class="col-4 col-sm-3 text-right">
                            <p class="m-0">jul. 2020 - actual</p>
                        </div>
                        <div class="col-8 col-sm-9 text-left">
                            <p class="m-0"><b>Particular</b></p>
                            <p class="m-0"><i>Part-time: Desarrollador Full Stack.</i></p>
                            <ul class="m-0">
                                <li>
                                    Desarrollador frontend Angular 9
                                </li>
                                <li>
                                    Desarrollador backend Spring Framework
                                </li>
                                <li>
                                    Desarrollo de un software para especificación de requisitos de software basado en el estándar ISO/IEC/IEEE 29148:2018
                                </li>
                            </ul>
                        </div>
                    </div>

                    <div class="row mt-3">
                        <div class="col-4 col-sm-3 text-right">
                            <p class="m-0">mayo 2020 - jun. 2020</p>
                            <p class="m-0">(2 meses)</p>
                            <p class="m-0">Remoto</p>
                        </div>
                        <div class="col-8 col-sm-9 text-left">
                            <p class="m-0"><a href="https://ruydo.com" target="_blank"><b>Ruydo Labs Spa.</b></a></p>
                            <p class="m-0"><i>Práctica: Desarrollador Full Stack</i></p>
                            <ul class="m-0">
                                <li>
                                    Desarrollador frontend Angular 8/9
                                </li>
                                <li>
                                    Desarrollador backend Node.js (Google Cloud y Firebase)
                                </li>
                            </ul>
                        </div>
                    </div>

                    <div class="row mt-3">
                        <div class="col-4 col-sm-3 text-right">
                            <p class="m-0">jul. 2019 - feb. 2020</p>
                            <p class="m-0">(8 meses)</p>
                            <p class="m-0">Temuco, Chile</p>
                        </div>
                        <div class="col-8 col-sm-9 text-left">
                            <p class="m-0"><b>UNIVERSIDAD DE LA FRONTERA - LAB. DE ENSAYOS AMBIENTALES</b></p>
                            <p class="m-0"><i>Part-time: Ingeniería de requerimientos y desarrollo de software.</i></p>
                            <ul class="m-0">
                                <li>
                                    Creación de una especificación de requisitos de software (ERS).
                                </li>
                                <li>
                                    Diseño e implementación de un software para apoyar el análisis de muestras de aguas residuales (riles) y lodos en laboratorio
                                </li>
                            </ul>
                        </div>
                    </div>

                    <div class="row mt-3">
                        <div class="col-4 col-sm-3 text-right">
                            <p class="m-0">ene. 2019 - feb. 2019</p>
                            <p class="m-0">(1 mes)</p>
                            <p class="m-0">Temuco, Chile</p>
                        </div>
                        <div class="col-8 col-sm-9 text-left">
                            <p class="m-0"><b>BIOSOFT</b></p>
                            <p class="m-0"><i>Práctica: Ingeniería de requerimientos y desarrollo de software.</i></p>
                            <ul class="m-0">
                                <li>
                                    Creación de una especificación de requisitos de software (ERS).
                                </li>
                                <li>
                                    Desarrollo de un módulo del software "Geonodo" para gestión de recursos materiales.
                                </li>
                            </ul>
                        </div>
                    </div>

                    <div class="row mt-3">
                        <div class="col-4 col-sm-3 text-right">
                            <p class="m-0">ene. 2018 - dic. 2018</p>
                            <p class="m-0">(1 año)</p>
                            <p class="m-0">Temuco, Chile</p>
                        </div>
                        <div class="col-8 col-sm-9 text-left">
                            <p class="m-0"><b>GIMNASIO TRINIDAD ZUÑIGA E.I.R.L (GetFit)</b></p>
                            <p class="m-0"><i>Part-time: Desarrollador de software.</i></p>
                            <ul class="m-0">
                                <li>
                                    Diseño e implementación de un sistema de información tipo CRM
                                    para gimnasio, con soporte de pago en línea.
                                </li>
                            </ul>
                        </div>
                    </div>

                    <div class="row mt-3">
                        <div class="col-4 col-sm-3 text-right">
                            <p class="m-0">ago. 2018 - jul. 2019</p>
                            <p class="m-0">Temuco, Chile</p>
                        </div>
                        <div class="col-8 col-sm-9 text-left">
                            <p class="m-0"><b>UNIVERSIDAD DE LA FRONTERA</b></p>
                            <p class="m-0"><i>Ayudante de programación</i></p>
                            <ul class="m-0">
                                <li>
                                    Programación de Computadores: Primera asignatura de programación común de las ingenierías civiles en Universidad de La Frontera.
                                </li>
                                <li>
                                    Laboratorio de Programación I: Asignatura de nivelación para programación en Java, desarrollo de aplicaciones de escritorio con Swing.
                                </li>
                                <li>
                                    Laboratorio de Programación II: Continuación de Lab I, se enseñó desarrollo de aplicaciones backend con Spring Boot y Thymeleaf.
                                </li>
                            </ul>
                        </div>
                    </div>

                </mat-card-content>
            </mat-card>
        </div>
    </div>

</div>