<div class="container">

    <div class="row">
        <div class="col-12">
            <mat-card class="mt-2 mb-2 mat-elevation-z2">
                <mat-card-content>

                    <div class="row">
                        <div class="col-12 col-sm-3">
                            <div class="w-100">
                                <div class="m-2">
                                    <div class="w-100 d-flex justify-content-center align-items-center">
                                        <img class="w-100 mat-elevation-z1" style="border-radius: 100%" src="assets/img/matias.jpg" alt="Foto de currículum" />
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-sm-9">
                            <div class="row h-100">
                                <div class="col d-flex flex-column justify-content-center align-items-center align-items-sm-start">
                                    <h2 class="mat-display-2 m-0">MATÍAS</h2>
                                    <h2 class="mat-display-2 m-0"><strong>HERMOSILLA</strong></h2>
                                    <h3 class="mat-h3 mt-2"><i>"Proactivo, persistente y ético."</i></h3>
                                </div>
                                <div class="col d-flex flex-column justify-content-center align-items-center align-items-sm-end">
                                    <p class="d-flex justify-content-center">
                                        <a class="mat-body" href="tel:+56954235123">+56 9 542 351 23</a>&nbsp;
                                        <mat-icon>call</mat-icon>
                                    </p>
                                    <p class="d-flex justify-content-center">
                                        <span>Temuco, Región de La Araucanía, Chile</span>&nbsp;
                                        <mat-icon>place</mat-icon>
                                    </p>
                                    <p class="d-flex justify-content-center">
                                        <a class="mat-body" href="mailto:matiasahermosilla@gmail.com">matiasahermosilla@gmail.com</a>&nbsp;
                                        <mat-icon>email</mat-icon>
                                    </p>
                                    <p class="d-flex justify-content-center">
                                        <a class="mat-body" href="https://www.linkedin.com/in/matiasah/">https://www.linkedin.com/in/matiasah/</a>&nbsp;
                                        <mat-icon>web</mat-icon>
                                    </p>
                                    <p class="d-flex justify-content-center">
                                        <a class="mat-body" href="https://profile.codersrank.io/user/matiasah">CodersRank</a>&nbsp;
                                        <mat-icon>web</mat-icon>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-12">
                            <p>
                                Mi nombre es Matías Alonso Hermosilla de La Fuente, tengo 23 años de edad y soy un estudiante egresado de la carrera Ingeniería Civíl Informática en Universidad de La Frontera.
                                Actualmente vivo en Temuco y he participado en proyectos de desarrollo de software, de forma remota en paralelo a mis estudios. Busco especializarme como Desarrollador Full Stack,
                                Arquitecto de software, Arquitecto de soluciones Cloud y desarrollador de microservicios. De los frameworks de desarrollo web que más he utilizado se encuentran Angular y Spring Framework,
                                debido que éstos presentan múltiples artefactos, componentes y características que permiten construir productos altamente funcionales.
                            </p>
                        </div>
                    </div>

                </mat-card-content>
            </mat-card>
        </div>
    </div>

    <div class="row">
        <div class="col-12">
            <mat-card class="mb-2 mat-elevation-z2">
                <mat-card-title>
                    HABILIDADES
                </mat-card-title>
                <mat-card-content>
                    <div class="row">
                        <div class="col-12 col-sm-6">
                            <ul>
                                <li>Nociones de Ingeniería de Requerimientos (SRS IEEE 830).</li>
                                <li>Nociones de Arquitectura de Software.</li>
                                <li>Desarrollo de pruebas unitarias.</li>
                                <li>Inglés avanzado.</li>
                            </ul>
                        </div>
                        <div class="col-12 col-sm-6">
                            <p class="text-justify">
                                <b>Software:</b>
                                Visual Studio Code, JIRA, <u>Angular</u>, <u>Spring Framework</u> (Spring Boot, MVC/REST, WebFlux, Data JPA/REST, Security/OAuth2 y Cloud/Microservicios),
                                <u>Google Cloud</u> (Functions, Firebase, Storage, Build), <u>Amazon Web Services</u> (EC2, Elastic Beanstalk, RDS, KMS, ACM, CloudFront, S3, Route 53),
                                <u>Jasmine</u>, <u>Karma</u>, <u>JUnit 5</u>, Hibernate, Laravel, Debian, CentOS, <u>Docker</u> (Engine y Compose), MySQL, MongoDB, GIT (GitHub, GitLab + CI/CD), Redis,
                                Hashicorp Vault, Hashicorp Consul, Java, JavaScript, TypeScript, Lua(JIT), HTML y CSS.
                            </p>
                        </div>
                    </div>
                </mat-card-content>
            </mat-card>
        </div>
    </div>

    <div class="row">
        <div class="col-12">
            <mat-card class="mb-2 mat-elevation-z2">
                <mat-card-title>
                    EDUCACIÓN
                </mat-card-title>
                <mat-card-content>
                    <div class="row mt-3">
                        <div class="col-4 col-sm-3 text-right">
                            <p class="m-0">mar. 2015 - ene. 2021/mar. 2021</p>
                            <p class="m-0">Temuco, Chile</p>
                        </div>
                        <div class="col-8 col-sm-9 text-left">
                            <p class="m-0">
                                <b>INGENIERO CIVIL INFORMÁTICO</b>&nbsp;
                                <i>(EN PROGRESO)</i>
                            </p>
                            <p class="m-0">
                                <i>Universidad de La Frontera</i>
                            </p>
                        </div>
                    </div>
                </mat-card-content>
            </mat-card>
        </div>
    </div>

    <div class="row">
        <div class="col-12">
            <mat-card class="mb-2 mat-elevation-z2">
                <mat-card-title>
                    EXPERIENCIA
                </mat-card-title>
                <mat-card-content>

                    <div class="row mt-3">
                        <div class="col-4 col-sm-3 text-right">
                            <p class="m-0">ago. 2020 - dic. 2020</p>
                            <p class="m-0">(4 meses)</p>
                            <p class="m-0">Remoto</p>
                        </div>
                        <div class="col-8 col-sm-9 text-left">
                            <p class="m-0"><a href="https://www.smartaraucania.org" target="_blank"><b>Smart Araucanía</b></a></p>
                            <p class="m-0"><i>Práctica: Desarrollador Full Stack</i></p>
                            <ul class="m-0">
                                <li>
                                    Diseño y arquitectura de la plataforma para gestión de incidencias ciudadanas <a href="https://enlace-ciudadano.smartaraucania.org/" target="_blank">Enlace Ciudadano</a>.
                                </li>
                                <li>
                                    Desarrollo frontend con Angular 9/10 y Amazon Web Services (ACM, CloudFront, Route 53, S3).
                                </li>
                                <li>
                                    Desarrollo de microservicios con Spring Framework (Spring Cloud), Amazon Web Services (EC2, Elastic Beanstalk, RDS, KMS, ACM, S3, Route 53).
                                </li>
                                <li>
                                    Uso de software de soporte de microservicios; Hashicorp Vault, Hashicorp Consul y Apache ActiveMQ Artemis.
                                </li>
                            </ul>
                        </div>
                    </div>

                    <div class="row mt-3">
                        <div class="col-4 col-sm-3 text-right">
                            <p class="m-0">mayo 2020 - jun. 2020</p>
                            <p class="m-0">(2 meses)</p>
                            <p class="m-0">Remoto</p>
                        </div>
                        <div class="col-8 col-sm-9 text-left">
                            <p class="m-0"><a href="https://ruydo.com" target="_blank"><b>Ruydo Labs Spa.</b></a></p>
                            <p class="m-0"><i>Práctica: Desarrollador Full Stack</i></p>
                            <ul class="m-0">
                                <li>
                                    Desarrollador frontend Angular 8/9
                                </li>
                                <li>
                                    Desarrollador backend Node.js (Google Cloud y Firebase)
                                </li>
                            </ul>
                        </div>
                    </div>

                    <div class="row mt-3">
                        <div class="col-4 col-sm-3 text-right">
                            <p class="m-0">ene. 2019 - feb. 2019</p>
                            <p class="m-0">(1 mes)</p>
                            <p class="m-0">Temuco, Chile</p>
                        </div>
                        <div class="col-8 col-sm-9 text-left">
                            <p class="m-0"><b>BIOSOFT</b></p>
                            <p class="m-0"><i>Práctica: Ingeniería de requerimientos y desarrollo de software.</i></p>
                            <ul class="m-0">
                                <li>
                                    Creación de una especificación de requisitos de software (ERS).
                                </li>
                                <li>
                                    Desarrollo de un módulo del software "Geonodo" para gestión de recursos materiales.
                                </li>
                            </ul>
                        </div>
                    </div>

                    <div class="row mt-3">
                        <div class="col-4 col-sm-3 text-right">
                            <p class="m-0">abril 2019 - jul. 2019</p>
                            <p class="m-0">(4 meses)</p>
                            <p class="m-0">Temuco, Chile</p>
                        </div>
                        <div class="col-8 col-sm-9 text-left">
                            <p class="m-0"><b>UNIVERSIDAD DE LA FRONTERA</b></p>
                            <p class="m-0"><i>Proyecto de asignatura: <a href="https://github.com/matiasah/trackthor" target="_blank">Trackthor</a></i></p>
                            <ul class="m-0">
                                <li>
                                    Desarrollo de aplicación para gestión de maquinaria.
                                </li>
                                <li>
                                    Desarrollo frontend con Angular 7.
                                </li>
                                <li>
                                    Desarrollo backend con Spring Framework (Spring Boot).
                                </li>
                            </ul>
                        </div>
                    </div>

                    <div class="row mt-3">
                        <div class="col-4 col-sm-3 text-right">
                            <p class="m-0">ago. 2018 - jul. 2019</p>
                            <p class="m-0">Temuco, Chile</p>
                        </div>
                        <div class="col-8 col-sm-9 text-left">
                            <p class="m-0"><b>UNIVERSIDAD DE LA FRONTERA</b></p>
                            <p class="m-0"><i>Ayudante de programación</i></p>
                            <ul class="m-0">
                                <li>
                                    Programación de Computadores: Primera asignatura de programación común de las ingenierías civiles en Universidad de La Frontera.
                                </li>
                                <li>
                                    Laboratorio de Programación I: Asignatura de nivelación para programación en Java, desarrollo de aplicaciones de escritorio con Swing.
                                </li>
                                <li>
                                    Laboratorio de Programación II: Continuación de Lab I, se enseñó desarrollo de aplicaciones backend con Spring Boot y Thymeleaf.
                                </li>
                            </ul>
                        </div>
                    </div>

                </mat-card-content>
            </mat-card>
        </div>
    </div>

</div>